<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Pagina Web</title>
        <link rel="../static/css/styleIndex.css" href="" type="text/css" />
        <script type="../static/js/appIndex.js" src=""></script>
    </head>
    <body>
        <h1> BIENVENIDO A TU VETERINARIA DE CONFIANZA</h1>
        <h2> Tenemos el mejor servicio para tu amiguito peludo</h2>
        <header class="header">
            <div class="menu container">
                <a href="#" class"logo">logo</a>
                <input type"checkbox" id="menu" />
                <label>
                    <img src="../images/menu.png" class="menu-icono" alt="menu">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Servicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
                <div>
                    <ul>
                        <li class="Submenu">
                            <img src="../car/car.svg" id="img-carrito" alt="carrito">
                            <div id="carrito">
                                <table id="lista-carrito">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                   <tbody></tbody>
                                </table>
                                <a href="#" id="Vaciar Carrito" class"btn-2">Vaciar Carrito</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-content container">
                <div class="header-txt">
                    <span>Oferta</span>
                    <h1>Comida</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                        ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                        dolor in hendrerit in vulputate velit esse molestie consequat,
                        vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum
                        zzril delenit augue duis dolore te feugait nulla facilisi.
                        Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim
                        assum. Typi non habent claritatem insitam; est usus legentis
                        in iis qui facit eorum claritatem. Investigationes
                        demonstraverunt lectores legere me lius quod ii legunt saepius.
                        Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium lectorum. Mirum est notare quam littera gothica,
                        quam nunc putamus parum claram, anteposuerit litterarum formas
                        humanitatis per seacula quarta decima et quinta decima. Eodem
                        modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
                        in futurum.
                    </p>
                     <h1>Accesorios</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                        ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                        dolor in hendrerit in vulputate velit esse molestie consequat,
                        vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum
                        zzril delenit augue duis dolore te feugait nulla facilisi.
                        Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim
                        assum. Typi non habent claritatem insitam; est usus legentis
                        in iis qui facit eorum claritatem. Investigationes
                        demonstraverunt lectores legere me lius quod ii legunt saepius.
                        Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium lectorum. Mirum est notare quam littera gothica,
                        quam nunc putamus parum claram, anteposuerit litterarum formas
                        humanitatis per seacula quarta decima et quinta decima. Eodem
                        modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
                        in futurum.
                    </p>
                    <h1>Cuidado</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                        ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                        dolor in hendrerit in vulputate velit esse molestie consequat,
                        vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum
                        zzril delenit augue duis dolore te feugait nulla facilisi.
                        Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim
                        assum. Typi non habent claritatem insitam; est usus legentis
                        in iis qui facit eorum claritatem. Investigationes
                        demonstraverunt lectores legere me lius quod ii legunt saepius.
                        Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium lectorum. Mirum est notare quam littera gothica,
                        quam nunc putamus parum claram, anteposuerit litterarum formas
                        humanitatis per seacula quarta decima et quinta decima. Eodem
                        modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
                        in futurum.
                    </p>
                    <a href="#" class="btn-1">Informacion</a>
                </div>
                <div class="header-img">
                    <img src="../images/Cat.png" alt="Cat"
                    
                </div>
            </div>
        </header>
        
        <section class="information container">
            <div class="information-container">
                <div class=information-1>
                    <img src="../images/i1.svg" alt="i1">
                    <h3>Lorem ipsum</h3>
                    <p>
                        fiant sollemnes in futurum
                    </p>
                </div>
                <div class=information-1>
                    <img src="../images/i2.svg" alt="i2">
                    <h3>Lorem ipsum</h3>
                    <p>
                        fiant sollemnes in futurum
                    </p>
                </div>
                <div class=information-1>
                    <img src="../images/i3.svg" alt="i3">
                    <h3>Lorem ipsum</h3>
                    <p>
                        fiant sollemnes in futurum
                    </p>
                </div>
                
            </div>
            
        </section>
        
        
    </body>
</html>