<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web Pague</title>
        <link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" />
        <script src="../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>Registro Mascota</h1>
        <form action="/register_user" method="post">
            <label>Identificacion Cliente</label> <input type="number" name="id"/> <br> <br>
            <label>Numero de contacto</label> <input type="number" name="contacnumber" /> <br> <br>
            <label>Edad Mascota</label> <input type="number" name="age" /> <br> <br>
            <label>Nombre Mascota</label> <input type="text" name="namepet" /> <br> <br>
            <button>Registrar</button>
        </form>
    </body>
</html>